.formRequestDonor{
    display: flex;
    justify-content: center;
    padding-left: 20px;
}
.RequestDonor{
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.button-form{
    background-color: tomato;
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    height: 40px;
}