@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.user{
	text-align: center;
	width: 90%;
	margin-left: 5%;
	margin-top: 60px;
	height: 80vh;
	border-radius: 30px;
	background-color: rgb(252, 199, 199);
}
.img-user{
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inf-user{
	background-color: #ff2222;
	margin-top: -5px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	height: 70%;
	width: 100%;
}
.inf-user h3{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 900;
	margin-top: 30px;
	color: rgb(252, 252, 252);
}
.svg{
	width: 100%;
	background-color: rgb(252, 199, 199);
}

